<a href="https://colab.research.google.com/github/PlasticxPlastic/project_linear_algreba/blob/main/the_beatles_recomendation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
url = "https://raw.githubusercontent.com/PlasticxPlastic/project_linear_algreba/main/TheBeatlesCleaned.csv"
data = pd.read_csv(url)
data.head()

,id,year,album,song,danceability,energy,speechiness,acousticness,liveness,valence,duration_ms
0,1,1963,Please Please Me,I Saw Her Standing There,0.491,0.801,0.0361,0.270,0.0665,0.971,173947
1,2,1963,Please Please Me,Misery,0.591,0.605,0.0413,0.707,0.3090,0.882,108547
2,3,1963,Please Please Me,Anna,0.608,0.565,0.0336,0.635,0.0601,0.835,177133
3,4,1963,Please Please Me,Chains,0.654,0.561,0.0304,0.608,0.1290,0.929,145080
4,5,1963,Please Please Me,Boys,0.402,0.86,0.0504,0.607,0.7360,0.822,146440

In [9]:
data.count()

id              193
year            193
album           193
song            193
danceability    193
energy          193
speechiness     193
acousticness    193
liveness        193
valence         193
duration_ms     193
dtype: int64

In [8]:
data.isnull().sum()

id              0
year            0
album           0
song            0
danceability    0
energy          0
speechiness     0
acousticness    0
liveness        0
valence         0
duration_ms     0
dtype: int64

In [10]:
data["song"].value_counts()

yellow submarine            2
all you need is love        2
I Saw Her Standing There    1
blackbird                   1
dear prudence               1
                           ..
tell me what you see        1
ive just seen a face        1
yesterday                   1
dizzy miss lizzy            1
get back                    1
Name: song, Length: 191, dtype: int64

In [11]:
data["album"].value_counts()

The Beatles (white album)                30
Abbey Road                               17
Please Please Me                         14
With The Beatles                         14
Beatles for Sale                         14
Help!                                    14
Rubber Soul                              14
Revolver                                 14
A Hard Day's Night                       13
Sgt. Pepper's Lonely Hearts Club Band    13
Yellow Submarine                         13
Let It Be                                12
Magical Mystery Tour                     11
Name: album, dtype: int64